.numbers {
  .wrapper {
    background-color: $blue;
  }
}

.numbers-container {
  margin-left: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 96px 0;
}

.number-item {
  width: 23.7%;
  display: flex;
  .number-img {
    margin-right: 25px;
  }

  .number-text {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
    color: $white;
    font-weight: 500;
    font-family: $font-montserrat;
    text-transform: uppercase;
    span {
      font-size: 18px;
      position: absolute;
      top: -5px;
    }
    p {
      position: absolute;
      white-space: nowrap;
      top: 23px;
    }
  }
}

@include breakpoint(tablet) {
  .number-item {
    width: 48%;
    .number-img {
      margin-right: 25px;
    }
  }
  .number-item:nth-child(1),
  .number-item:nth-child(2) {
    margin-bottom: 30px;
  }
}

@include breakpoint(phone) {
  .numbers-container {
    padding: 60px 0;
    margin-left: 30%;
  }
  .number-item {
    width: 98%;
    margin-bottom: 40px;
  }
  .number-item:last-child {
    margin-bottom: 0;
  }
}

@include breakpoint(small-phone) {
  .numbers-container {
    margin-left: 10%;
    padding: 50px 0;
  }
  .number-item {
    width: 98%;
    margin-bottom: 40px;
  }
  .number-item:last-child {
    margin-bottom: 0;
  }
}
